@use "./variables" as *;

    body {
        overflow-x: hidden;
    }
        // Header section style
        header{
            background: url(../assets/home.jpg);
            background-repeat: no-repeat;
            height:94vh;
            background-size: cover;
            padding-top:10px; 
            position: relative;
            background-position: center;
            // z-index: 0;
        }
        .headerContainer {
            position: absolute;
            top: 15%;
            left: 15%;
        }

        h1{
                    text-align: left;
                    // width: 263px;
                    font-weight: 500;
                    // margin: 178px 0 0 100px;
                    font-family: $baseFont;
                    font-family: $myFont ;
                    margin: 0;
            }   
        header p{
                // margin: 35px 180px 0 90px;
                font-family: $baseFont;
                font-family: $myFont;
                line-height :1.5em;
                margin: 0;
                padding-top: 20px;
                font-weight: 300;
        }
    

        //  First Image Section
        .imageSection ul{
            display: flex;
            list-style-type:none; 
            flex-direction: row; 
            gap:10px;

            li{
                // border:1px solid red;
                width: 100%;
                margin: 10px;
            
                img{
                    width: 100%;
                    height:auto;
                    object-fit: cover;         
                }
            }
        }
        .wrapper{
            max-width: 1080px;
            width: 85%;
            margin: 0 auto;
        }
        .thirdImage{
            transform:translateY(20px);
        }

        .secondImageImage{
            transform:translateY(-20px);
        }
        .firstImage{
            transform:translateY(20px);
        }
        .positionOne,
        .positionTwo,
        .positionThree{
            position: relative;
            bottom: 31px;
            display: inline-block;

            p {
                background: $color-primary;
                padding: 5px 10px;
                position: relative;
                bottom: 31px;
                font-size: 14px;
            }
        }


        //  Featured Sale Section  
        h2{
            text-align: center;
            padding-top:40px;
            font-family: $myFont;
            font-size: 30px;
        }

        .shoppingGalleryOne {
            --current-slide: 0;
            /* we set position relative so absolute position works properly for the buttons */
            position: relative;
            overflow: hidden;
            max-height: 100vh;
            margin-bottom: 30px;
          }

          .carousel-button {
            /* vertically centering the buttons */
            position: absolute;
            top: 50%;
            //transform: translateY(-50%);
            z-index: 1;
          
            /* basic styling */
            padding: 0;
            margin: 20px;
            border-radius: 50%;
            background-color :#d7b89c;
            border:#668;
            font-size: 1.5rem;
            cursor: pointer;
            transition: color 0.1s;

            p {
                padding: 0 8px;
                margin: 8px 5px;
            
                i {
                    color: #fff;
                }
            }
          }
          
          .carousel-button:hover {
            color: rgba(0, 0, 0, 0.5);
            background-color: #88cce2;
          }
          
          .carousel-button_next {
            /* The "next slide button" will be at the right */
            right: 0;
          }
          
          .productSlides {
            display: flex;
            max-width: 100%;
            max-height: 100%;
            transition: transform 0.5s;
            transform: translateX(calc(-100% * var(--current-slide)));
          }
          
          .productSlide {
            flex: 0 0 100%;
            max-width: 50%;
            text-align: center;
            border:1px solid lightgrey;
            
                
               img{
                    width:50%;
               }

          }

         

        *.shoppingGalleryOne{
            display:flex;
            gap:8px;
            // padding-top:20px;
            
            img{
                    // width: 100%;
                    height:auto;
                    object-fit: cover; 
                }
        }*


        *.shoppingGalleryTwo{
            display:flex;
            gap: 8px;
            padding-top:20px;
            
            img{
                // width: 100%;
                height:auto;
                object-fit: cover; 
            }
        }*

        *.product{
            position: relative;
        }*

        .cart{
            width: 30px;
            cursor: pointer;
            border : 0.5px solid  $color-secondary;
            height :30px; 
           
               img{
                width: 28px;
               }
        }

        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px;
            
            img {
                cursor: pointer;
                width: fit-content;
            }

            .fa-heart {
                size: 10px;
                cursor: pointer;
            }
        }

        .secondSection .seeAll{
            border : 1px solid   $color-secondary;
            display: inline-block;
            padding: 15px 10px 15px 10px;
            margin:20px 45% 50px 45%;
            font-family:$myFont;
        }

        .selling{
            display: inline-block;
            background: #eba6aa;
            position: fixed;
            left: 20px;
            top: 20px;
            padding: 10px;
        }
        .latest{
            display: inline-block;
            background: #88cce2 ;
            position: fixed;
            right: 20px;
            top: 20px;
            padding: 10px;
        }

        // .selling,
        // .latest {
        //     // position: relative;
        //     // top: -220px;
        //     // left: -29px;
        //     padding: 10px 20px;
        // }
        // .direction{
        //     text-align: center;
        // }
        // .direction button{
        //     font-family: cursive;
        //     font-weight: bold;
        //     border:none;
        //     width:50px;
        //     height: 50px;
        //     border-radius: 50%;
        //     transition: 0.5s;
        //     margin: 0 10px;
        // }
        // .direction button:hover{
        //     background-color: #ffffff;
        // }

        // Couch/sofa Section
        .couch{
            display: flex;
            text-align: center;
            margin-top: 70px;
            // position: relative;
            
            .firstCouch{
                max-width:34%;
                // position: absolute;
                
                img {
                    width: 100%;
                } 

                .saleText {
                    background-color: #fff;
                    color: #d7b89c;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin: 5px 10px;
                }
                .salePercentage {
                    font-size: 2.5rem;
                    font-weight: 600;
                    color: #fff;
                    margin: 10px;
                }

                .shopNow {
                    color: #fff;
                    text-transform: capitalize;
                }
            }

            .sale{
                // background: #d7b89c;
                display: inline-block;
                // position: relative;
                // bottom: 200px;
                color:  $color-primary;  
                font-family:  $bottomFont;
                font-family: $upFont;
                font-family: $myFont;
            }

            
            .secondCouch{
                width:70%;
                // padding-right: 120px;
                // position: absolute;

                img {
                    width: 100%;
                    // height: 392px;
                }

                p {
                    font-size: 1.2rem;
                    margin: 0;
                
                    span {
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }
                
            }
        }
        .eliasCouch{
            color: $color-primary;
            position: relative;
            bottom:360px;
            border : 1px solid  $color-primary;
            display: inline-block;
            padding: 20px;
            font-family:  $bottomFont;
            font-family: $upFont;
            font-family: $myFont;
        }


        // instagramShop

        .instagramShop{
            color: #666;
            text-align: center;
            font-family: $myFont;
            padding: -5px 0 30px 0;
        }
        .instagram{
            display: flex;
            padding-bottom: 20px;
        
            .instaGallery{
                width: 25%;
            }
            
            img{
                width: 100%;
                height: auto;
                padding: 10px;
            }
        }
        .instagram .instaGallery:hover img{
              transform : scale(1.1);
        }
        .popupImage{
            position: fixed;
            top: 0;
            left :0;
            background: grey;
            height :100%;
            width:100%;
            z-index: 100;
            display: none;
        }
        .popupImage span{
            position: absolute;
            top : 0;
            right : 10px;
            font-size: 40px;
            font-weight: bolder;
            color:#fff;
            cursor: pointer;
            z-index: 100;
        }
        .popupImage img{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            border:5px solid #fff;
            border-radius: 5px;
            width: 750px;
            object-fit: cover;
        }


        //  Footer section

        // footer {
        //     // height: 50vh;
        //     // background-color: #333;
        //     // color: white;
        // }
        .mainFooter {
            background-color: #333;
            color: white;
            height: 100%;
        }

        .footerJuno {
            background-color: #d7b89c;
            height: 3vh;
            text-align: center;

            p {
                padding: 2px;
                font-weight: 300;
                font-size: 12px;
                color: #333;
                
                a {
                    text-transform: none;
                }
            }
        }

        .footerTop{
            display: flex;
            padding: 45px 0 10px;
            justify-content: space-between;

            
            .footerBrand{
                width: 245px;

                p {
                    font-size: 13px;
                    // font-weight: 300;
                    line-height: 1.5;
                    margin: 20px 0px;
                }
            }
        }

        .footerColumn {
            flex: 1 1 25%;
            margin: 0 10px;

            i {
                width: 16px;
                height: 16px;
            }
        }

        .footerImage{
            width: 6%; 
            height: 37px;
            margin-right: 3px;   
        }

        .footerImg{
            width: 20px;
            height: 16px;   
        }

        .footerList{
            list-style-type: none;
            display: flex;
            margin: 15px 0;

            p {
                padding: 0 10px;
                margin: 0;
                font-size: 13px;
                font-weight: 300;
                cursor: pointer;

                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 0;
                    margin: 0;
                    text-transform: capitalize;
                }
            }
        }

        .contact ul,
        .profile ul{
            padding: 0;
        }
        .aboutCompany{
            padding-right: 10px;
        }
        .footerIcons a{
            padding: 0;
            padding-right: 10px;
            color: white;
        }
        h3{
            margin-top: 0;
            margin-bottom: 30px;
            font-weight: 500;
        }

        .newsLetter {
            p {
                margin: 0;
                font-size: 13px;
                font-weight: 300;
            }

            input[type=text] {
                background-color: #333;
                color: white;
                font-size: 12px;
            }
        }

        // Contact Section Style
        .contactHeader {
            background: url(../assets/contact-us.jpg);
            height: 40vh;
            // padding: 158px 0px 0px 145px;
            background-position: center;
            background-repeat: no-repeat;
            
            h1 {
                position: absolute;
                top: 40%;
                left: 20%;
            }
        }
        
        .container{
            flex-direction: column;
            width: 60%;
            align-items: center;
            padding: 20px 20px 20px 20%;
        }

        input[type=text], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            //border: 0 0 1px 0;
            border-top-style: hidden;
            border-left-style: hidden;
            border-right-style: hidden;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        .error-hint{
                color:red;
               
        }
        .hidden{
        display: none;
        }
        button[type=submit] {
            background-color: #04AA6D;
            color: $color-primary;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }





        // NEW PAGE PRODUCTS

        // OUR PRODUCTS/SHOP SECTION

        .viewAll {
            text-align: center;
            margin: 20px;;
          }
          
          .searchContainer {
            background: white;
            padding: 10px;
            form {
                width: 33%;
                border: 1px solid purple;
                border-radius: 4px;
                display: flex;
                align-items: center;
                input {
                    border: none;
                    outline: none;
                    box-shadow: none;
                    margin: 0;
                    font-size: 16px;
                    font-weight: 600;
                }
                i {
                    padding-left: 10px;
                }

            }
          }

// WISHLIST ITEM FROM ACCOUNT.HTML

.wishlist {
    margin: 20px;
    
    h1 {
        text-align: center;
    }
}

.wishlistContainer {
    display: flex;
    
}