@use "./variables" as *;



.allProductsList {
    min-height: 800px;

    img {
        max-width: 100%;
        height: auto;
    }

    form {
        width: 80%;
        border: solid 2px #f8f8f8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin: 20px auto;
        input {
            width: 100%;
            border: none;
            outline: none;
            box-shadow: none;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            padding: 5px;
        }
        i {
            padding-left: 10px;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        li {
            width: calc(20% - 20px);
            margin: 10px;
            border: solid 2px #f8f8f8;
            flex-direction: column;
        }
        h4 {
            margin-left: 10px;
        }
        p {
            margin-left: 10px;
        }
        p:before {
            content: "$";
        }
    }
}